<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{%block title%}{% endblock %}</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
    </head>
    <body>
        <header class="public-header">
            <div class="public-container">
                <div class="flex align-center justify-between">
                    <a href="/">

                        <img class="logo" src="{{url_for('static',filename='img/flask.png')}}" alt="logo" />
                    </a>
                    <nav>
                        <ul class="flex align-center">
                            <li><a href="/jinja">Jinja</a></li>
                            <li><a href="/admin/dashboard">Dashboard</a></li>
                            <li><a href="/sign-up">Sign up</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main class="public-main public-container">{%block main%}{%endblock%}</main>
        <script src="{{url_for('static',filename='js/app.js')}}"></script>
        {%block script%}{%endblock%}
    </body>
</html>
