{%extends "public/templates/public_template.html"%}
{%import 'macros/input_macros.html' as im%}
{%block title%}Sign-up{%endblock%}

{%block main%}

<h1>Sign up</h1>
<hr />

<form action="/sign-up" method="POST" >
    <div class="form-wrapper flex flex-column">
        {{im.input(label="Username",name="username",id="username",placeholder="Please enter your username")}}
        {{im.input(label="Email",type="email",name="email",id="email",placeholder="Please enter your email")}}
        {{im.input( label="Password", type="password", name="password", id="password", placeholder="Please enter your password" )}}
        <button type="submit">Sign up</button>
    </div>
</form>

{%endblock%}
